################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

discordbeat:
  # Specifies bot token to login to Discord with
  token: "INSERT-TOKEN-HERE"
